@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #c2cbea;

  color: #3e4657;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-k-header.is-open .o-k-header-background {
  left: 0;
}
.o-k-header-button-wrapper {
  margin-left: auto;
}
.o-k-header-icon {
  display: none;
}

.o-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-k-navigation-list.is-open {
  right: 0;
}
.o-k-header-icon-menu {
  display: block;
}

.o-k-header-icon-button.is-open .o-k-header-icon-menu {
  display: none;
}

.o-k-header-icon-button.is-open .o-k-header-icon-close {
  display: block;
}

.o-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #242832;
}

.o-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #242832;
}
.o-k-header.is-open .o-k-header-background {
  left: 0;
}
.o-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-k-header-icon-menu {
  display: block;
}

.o-k-header-icon-button.is-open .o-k-header-icon-menu {
  display: none;
}

.o-k-header-icon-button.is-open .o-k-header-icon-close {
  display: block;
}

.o-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.o-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 108px 32px;

  gap: 28px;
  background: #242832;
}

.o-k-navigation-list.is-open {
  right: 0;
}

.o-k-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #482600;
  width: 311px;

  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  border-bottom-width: 1px;
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #c2cbea;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.o-k-navigation-link:hover,
.o-k-navigatioт-link:focus {
  color: #ffffff;
  border-bottom: 1px solid #9847b3;
}

.o-k-header.is-open {
  background-color: transparent;
}

.o-k-navigation-img {
  display: none;
}
.o-k-header-terms-img {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #14151f;
  text-decoration: none;
  text-align: center;
}
.o-k-header-terms {
  background-color: transparent;
  padding: 12px 0px;
}
@media screen and (min-width: 1200px) {
  .o-k-navigation-img {
    display: block;
    margin-right: 650px;
  }

  .o-k-policy-terms-header-icon-menu {
    display: none;
  }
  .o-k-header-button-wrapper {
    display: none;
  }
  .o-k-header {
    width: 100%;
    height: 49px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-k-header-icon-button {
    display: none;
  }
  .o-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 8px 120px;
    margin: auto;
  }

  .o-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-k-navigation-link {
    font-family: Fustat;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    width: fit-content;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .o-k-header-terms {
    background-color: transparent;
    padding: 50px 0px 0;
  }

  .o-k-navigation-item-desk {
    display: none;
  }
}

.o-k-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.\ Home\ mob.png");
  margin: auto;
}
.o-k-home-container {
  width: 375px;
  padding: 113px 16px 0px;
  margin: auto;
}

.o-k-home-title {
  font-family: Fustat;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 174px;
}

.o-k-home-text {
  padding: 57px 0 28px;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-k-home-img {
  transition: all 0.3s ease-in-out;
  background: #14151f;
  box-shadow: 2px 2px 1px 0px #14151f33;
  width: 260px;
  height: 64px;
  margin: auto;
  border-radius: 12px;
}

.o-k-home-img:hover {
  background: linear-gradient(180deg, #14151f 0%, #9847b3 100%);
  box-shadow: 2px 2px 1px 0px #14151f33;

  transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .o-k-home {
    width: 1440px;
    height: 809px;
    background-image: url("/img/1.\ HOME.png");
  }
  .o-k-home-container {
    width: 1440px;
    padding: 199px 563px 0px 204px;
  }

  .o-k-home-title {
    font-family: Fustat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

    width: fit-content;
  }

  .o-k-home-text {
    padding: 32px 0;
    font-family: Fustat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    text-align: left;
  }
  .o-k-home-img {
    margin: 0;
  }
}
.o-k-about {
  margin: auto;
  background: #242832;
}
.o-k-about-container {
  width: 375px;
  height: 815px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2\ About\ the\ Game\ mob.png");
  padding: 80px 16px 0px;
  margin: auto;
}
.o-k-about-title {
  font-family: Fustat;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #3d97ba;
}
.o-k-about-text {
  color: #c2cbea;
  display: flex;
  flex-direction: column;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 64px 0 0;
  gap: 255px;
}

@media screen and (min-width: 1200px) {
  .o-k-about-container {
    width: 1440px;
    height: 463px;

    background-image: url("/img/2\ About\ the\ Game.png");
    padding: 80px 173px 0px;
    margin: auto;
  }
  .o-k-about-title {
    font-family: Fustat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .o-k-about-text {
    font-family: Fustat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    flex-direction: row;

    padding: 87px 0 0;
    gap: 407px;
  }
  .o-k-about-text p {
    width: 343px;
  }
}

.o-k-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.o-k-why-texts {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #14151f;
  padding: 64px 0 48px;
}
.o-k-why-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.o-k-why-item {
  display: flex;
  align-items: center;
  background: #242832;
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
}
.o-k-why-item-two {
  flex-direction: row-reverse;
}
.o-k-why-text-bold {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 16px;
  background: #9847b3;
  font-family: Fustat;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #c2cbea;
}
.o-k-why-text {
  width: 204px;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #c2cbea;
}

@media screen and (min-width: 1200px) {
  .o-k-why-container {
    width: 1440px;
    margin: auto;
    padding: 80px 106px;
  }
  .o-k-why-texts {
    font-family: Fustat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 64px 0 48px;
  }
  .o-k-why-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .o-k-why-item {
    flex-direction: column;
    width: 220px;
    height: 208px;

    gap: 16px;
    border-radius: 16px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
  }

  .o-k-why-text-bold {
    width: 80px;
    height: 80px;

    gap: 10px;
    border-radius: 12px;
    padding: 16px;
    font-family: Fustat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-k-why-text {
    width: 188px;
    font-family: Fustat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-k-uniqueness {
  background: #242832;
}
.o-k-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
}
.o-k-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.o-k-uniqueness-item {
  position: relative;
  width: 343px;
  height: 610px;
}

.o-k-uniqueness-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.o-k-uniqueness-item-two {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 164px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 32px 40px;
  border-radius: 16px;

  background: #14151f;
  color: #c2cbea;
}
.o-k-uniqueness-text-bold {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-k-uniqueness-text {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .o-k-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 234px;
  }
  .o-k-uniqueness-list {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }
}

.o-k-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
}
.o-k-faq-list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-k-faq-item {
  padding: 8px 4px;
}

.o-k-faq-question {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3d97ba;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #14151f;
}

.o-k-faq-answer {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-k-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-k-toggle-button img {
  width: 32px;
  transition: transform 0.3s ease;
}
.o-k-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-k-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-k-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .o-k-faq-container {
    padding: 80px 189px;
    width: 1440px;
    margin: auto;
  }
  .o-k-faq-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-k-faq-item {
    padding: 8px 4px;
  }
}
.o-k-features {
  background: #242832;
}
.o-k-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 31px;
}

.o-k-features-item {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.o-k-features-img {
  width: 32px;
}

.o-k-features-text {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #c2cbea;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .o-k-features-container {
    width: 1440px;
    margin: auto;
  }
}

.o-k-policy-terms-container {
  padding: 104px 16px 64px;
  width: 375px;
  margin: auto;
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #14151f;
}

.o-k-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 64px;
  font-family: Fustat;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #3e4657;
}
.o-k-policy-terms-container h2 {
  margin: 16px 0;
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.o-k-policy-terms-container h3 {
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.domain {
  color: inherit;
  color: #14151f;
  font-family: Fustat;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
@media screen and (min-width: 1200px) {
  .o-k-policy-terms-container {
    padding: 128px 223px 80px;
    width: 1440px;
  }
  .o-k-policy-terms-container h1 {
    font-family: Fustat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
}

.o-k-footer-container {
  width: 375px;
  padding: 64px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.o-k-footer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #c2cbea;
}

.o-k-footer-text {
  color: inherit;

  color: #c2cbea;
}
.o-k-footer-copyright-one {
  color: #c2cbea;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-k-footer-copyright {
  display: none;
}
.o-k-footer-copyright-two {
  color: #c2cbea;
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  display: none;
}
.o-k-footer-img {
  width: 260px;
  background: #14151f;
  box-shadow: 2px 2px 1px 0px #14151f33;

  border-radius: 12px;
}

@media screen and (min-width: 1200px) {
  .o-k-footer-container {
    width: 1440px;
    padding: 80px 120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 167px;
  }

  .o-k-footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 84px;
  }

  .o-k-footer-copyright-one {
    display: none;
  }

  .o-k-footer-copyright-two {
    display: flex;
  }
  .o-k-footer-img {
    width: 260px;
    background: #14151f;
    box-shadow: 2px 2px 1px 0px #14151f33;

    border-radius: 12px;
  }
}
